html
	head
		title Lottónyeremény ellenőrző
		link(href='/styles.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700', rel='stylesheet')
	body
		h1= message
		h2= subline