html
	head
		title Lottónyeremény ellenőrző
	body(style={background-color: '#F5F5F5'})
		h1= message(style={font-family: 'Arial', font-size: '36px', color: '#474A69', text-align: 'center', margin-top: '100px'})
		h2= subline(style={font-family: 'Arial', font-size: '18px', color: '#474A69', text-align: 'center', margin-top: '10px'}})